    <footer>
        <p class="footer-items" id="footer-title">My Links...</p>
        <p class="footer-items">Linked in:</p><img src="/css/linkedIn.png" alt="linked-in link" id="linked-in">
        <p class="footer-items">Git-Hub:</p><img src="/css/github.png" alt="git-hub link" id="git-hub">
    </footer>
