<div class="wrapper">
    <span class="icon-close material-symbols-outlined">close</span>
    <div class="form-box login">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="input-box">
                <span class="icon material-symbols-outlined">mail</span>
                <input type="email" required name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-box">
                <span class="icon material-symbols-outlined">lock</span>
                <input type="password" required name="password">
                <label for="password">Password</label>
            </div>
            <button type="submit" class="form-button">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a class="register-link">Register</a></p>
            </div>
        </form>
    </div>
    <div class="form-box register">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="input-box">
                <span class="icon material-symbols-outlined">person</span>
                <input type="text" name="firstName" required>
                <label for="firstname">First Name</label>
            </div>
            <div class="input-box">
                <span class="icon material-symbols-outlined">person</span>
                <input type="text" name="lastName" required>
                <label for="lastname">Last Name</label>
            </div>
            <div class="input-box">
                <span class="icon material-symbols-outlined">person</span>
                <input type="text" required name="userName">
                <label for="username">Username</label>
            </div>
            <div class="input-box">
                <span class="icon material-symbols-outlined">mail</span>
                <input type="email" required name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-box">
                <span class="icon material-symbols-outlined">lock</span>
                <input type="password" required name="password">
                <label for="password">Password</label>
            </div>
            <button type="submit" class="form-button">Register</button>
            <div class="login-register">
                <p>Have an account? <a class="login-link">Login</a></p>
            </div>
        </form>
    </div>
</div>
<script src="/js/login-registration-links.js"></script>