    <header>
        <div id="logo">
            <img src="https://cdn.dribbble.com/users/118116/screenshots/4367701/media/de867e44df8f2cf43e9460f5c4e4690c.png?resize=800x600&vertical=center" alt="Logo Picture" style="border-radius: 50%; height:60px;" id="logo-picture">
            <h2 id="site-name">Justin Travels.</h2>
        </div>
        <nav id="pages">
            <ul>
                <li><a href="/regions" class="nav-link">Regions</a></li>
                <li><a href="/countries" class="nav-link">Countries</a></li>
            </ul>
        </nav>
        <div class="right-nav">
            <div class="profile">
                <ul>
                    <li><a class="nav-link" id="login">Login</a></li>
                    <li><a class="nav-link"id="register">Register</a></li>
                </ul>
                
            </div>
            <div class="search">
                <form action="" class="search">
                    <input type="text" id="search-bar" placeholder="Search...">
                    <span class="material-symbols-outlined search-icon">search</span>
                </form>
            </div>
        </div>

    </header>