<h1 id="regions-header">Regions</h1>
<div class="regions">
    <ul class="regions-list">
    {{#each data}}
        <li class="region-name"><a href="/regions{{_id}}" class="region-link">{{name}}</a></li>
    {{/each}}
    </ul>
</div>