<h1 id="cities-header">Cities</h1>

<div class="cities">
    <ul class="cities-list">
        {{#each data}}
        <li class="cities-name"><a href="/posts/{{name}}" class="cities-link">{{name}}</a></li>
        {{/each}}
    </ul>
</div>