    <div class="container">
        <div class="carousel">
            <div class="slider">
                <section class="popular-regions" id="africa">
                    <h1>Africa</h1>
                    <button class="africaBtn">Select</button>
                </section>
                <section class="popular-regions" id="asia">
                    <h1>Asia</h1>
                    <button class="asiaBtn">Select</button>
                </section>
                <section class="popular-regions" id="ca">
                    <h1>Central America</h1>
                    <button class="caBtn">Select</button>
                </section>
                <section class="popular-regions" id="europe">
                    <h1>Europe</h1>
                    <button class="europeBtn">Select</button>
                </section>
                <section class="popular-regions" id="na">
                    <h1>North America</h1>
                    <button class="naBtn">Select</button>
                </section>
                <section class="popular-regions" id="oceania">
                    <h1>Oceania</h1>
                    <button class="oceaniaBtn">Select</button>
                </section>
                <section class="popular-regions" id="sa">
                    <h1>South America</h1>
                    <button class="saBtn">Select</button>
                </section>
                <section class="popular-regions" id="caribbean">
                    <h1>The Caribbean</h1>
                    <button class="caribbeanBtn">Select</button>
                </section>
            </div>
            <div class="controls">
                <span class="material-symbols-outlined arrow left">arrow_back_ios</span>
                <span class="material-symbols-outlined arrow right">arrow_forward_ios</span>
            </div>
        </div>
    </div>